body {
	background-color:black;
	color:lightgreen;
}
h1 {
font-style: italic;
size:5;
background-color:#fff;
color:darkblue;
}
	p {
		font-family:times new roman;
		text-align: center:
	}